{% extends 'base.html' %}
{% block body %}
<style>
    .midle{
     text-align: left;
     color: white;
     font-family: Monospace;
     margin-top: 150px;

 }
 .midle button{
     border-radius: 30px;
     width: 130px;
     color: white;
     background-color: transparent;
     border: 1px solid white;
 }
 .midle h2{
     font-family: monospace;
     font-size: 40px;
 } 
</style>
<div class=" midle container ">
<h2 class="fw-bold">Bright future</h2>
<p class="fw-light">we are providing best career oprtunities for you <br>joins us to make your future bright</p>
<a href="/signup"><button class="btn btn-outline-warning">Join now</button></a>
</div>
{% endblock body %}